# Dependencies
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# Build outputs
dist
build
.tauri
target
src-tauri/target

# Cache
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Misc
coverage
.env
.env.local
.env.*.local
